{{#if bulkSelectEnabled}}
  <td class='star'>
    <input type="checkbox" class="bulk-select">
  </td>
{{/if}}

<a href='{{topic.summaryUrl}}' class="project-link"></a>
<a href='{{topic.summaryUrl}}' class="pinned-project"></a>

<div class="project-card">

  {{raw 'list/topic-meta' likesHeat=likesHeat title=view.title topic=topic}}
  
  <div class="project-interactions">
    {{#if socialStyle}}

      <div class="project-title">
      {{raw "list/topic-list-title" topic=topic socialStyle=socialStyle showTopicPostBadges=showTopicPostBadges}}
      {{raw "list/topic-category" category=topic.category}}
      </div>
    {{/if}}

    {{#if showLikes}}
    <div class="num likes">
      {{#if hasLikes}}
        <a href='{{topic.summaryUrl}}'>
          {{number topic.like_count}} <i class='fa fa-heart'></i></div>
        </a>
      {{/if}}
    {{/if}}

    {{#if showOpLikes}}
    <div class="num likes">
      {{#if hasOpLikes}}
        <a href='{{topic.summaryUrl}}'>
          {{number topic.op_like_count}} <i class='fa fa-heart'></i></div>
        </a>
      {{/if}}
    {{/if}}

    {{#if showActions}}
      {{raw "list/topic-actions" likeCount=likeCount topicActions=topicActions}}
    {{/if}}



  {{#if socialStyle}}
      {{raw-plugin-outlet name="topic-list-social-footer"}}
  {{/if}}

  </div>

    

    {{#if showPosters}}
      {{raw "list/posters-column" posters=topic.posters}}
    {{/if}}

    {{#if showParticipants}}
      {{raw "list/posters-column" posters=topic.participants}}
    {{/if}}

    <span class="num views {{topic.viewsHeat}}"><i class="fa fa-eye"></i> {{number topic.views numberKey="views_long"}} Views</span>

  

  {{raw "list/action-list" topic=topic postNumbers=topic.liked_post_numbers className="likes" icon="heart"}}
</div>


  {{#if showThumbnail}}
      {{raw "list/topic-thumbnail" topic=topic thumbnails=thumbnails category=category}}
  {{/if}}












